name: Continuous integration

on:
  push:
  pull_request:
  merge_group:
  schedule:
    - cron: '0 18 * * *'

jobs:
  pre_commit:
    timeout-minutes: 5
    name: prek
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      # tools used in pre-commit hooks
      - id: cargo-rdme
        uses: rusticata/ci-action-rdme@v1
      # /tools
      - id: prek
        uses: rusticata/ci-action-prek@v1

  check:
    name: Check
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - stable
          - 1.68
          - nightly
        features:
          - --features=default
          - --all-features
    steps:
      - uses: actions/checkout@v6
      - name: Install ${{ matrix.rust }} toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust }}
      - name: Cargo update (fix for MSRV)
        run: cargo update -p time --precise 0.3.41
        if: matrix.rust == '1.68'
      - run: RUSTFLAGS="-D warnings" cargo check --locked ${{ matrix.features }}

  test_features:
    name: Test suite (with features)
    runs-on: ubuntu-latest
    strategy:
      matrix:
        features:
          - --features=default
          - --all-features
          - --features=bigint,serialize,debug
          - --features=bigint,serialize,trace
          - --no-default-features
    steps:
      - uses: actions/checkout@v6
      - name: Install stable toolchain
        uses: dtolnay/rust-toolchain@stable
      - run: cargo test --locked ${{ matrix.features }}

  no_std:
    name: no-std
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install stable toolchain
        uses: dtolnay/rust-toolchain@stable
      - run: RUSTFLAGS="-D warnings" cargo check --locked --no-default-features

  fmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install stable rustfmt
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt
      - run: cargo fmt --all -- --check

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install nightly clippy
        uses: dtolnay/rust-toolchain@nightly
        with:
          components: clippy
      - run: cargo clippy -- -D warnings

  readme:
    name: Check if README is up to date
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - id: cargo-rdme
        uses: rusticata/ci-action-rdme@v1

  doc:
    name: Build documentation
    runs-on: ubuntu-latest
    env:
      RUSTDOCFLAGS: --cfg docsrs
    steps:
      - uses: actions/checkout@v6
      - name: Install nightly rust
        uses: dtolnay/rust-toolchain@nightly
      - run: cargo doc --workspace --no-deps --all-features

  semver:
    name: Check semver compatibility
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6
      - name: Check semver
        uses: obi1kenobi/cargo-semver-checks-action@v2

  check-external-types:
    name: Validate external types appearing in public API
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6
      - id: cargo-rdme
        uses: rusticata/ci-action-check-external-types@ebed73f388d7deab7d4692626ae85e5d32ddb9a1 # toolchain 2025-10-18
